[Unit]
Description=MainProgram_service

[Service]
Type=simple
User=root
ExecStart=/home/pi/switchcraft_pi/venv/bin/python3 /home/pi/switchcraft_pi/main.py

[Install]
WantedBy=multi-user.target
